{% load static %}
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row shadow-sm">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="{% url 'main:index' %}"><img src="{{logo_url}}" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" href="{% url 'main:index' %}"><img
        src="{{favicon_url}}" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    
    {% block search %}
    <div class="search-field d-none d-md-block">
      <form class="d-flex align-items-center h-100" action="" method="get">
        <div class="border border-radius input-group">
          <input type="text" class="form-control bg-transparent border-0" placeholder="Search ..." name="q" />
          <button type="submit" class="input-group-prepend bg-transparent">
            <i class="input-group-text border-0 mdi mdi-magnify"></i>
          </button>
        </div>
      </form>
    </div>
    {% endblock %}

    <ul class="navbar-nav navbar-nav-right">

      <li class="nav-item nav-profile dropdown">
        
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
          aria-expanded="false">
          <div class="nav-profile-img">
            <img src="{% static 'main/images/faces/face.jpg' %}" alt="image" />
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{request.user|upper}}</p>
          </div>
        </a>

        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
          
          <a class="dropdown-item" href="{% url 'auth_password_change' %}">
            <i class="mdi mdi-cached me-2 text-success"></i>
            Change Password
          </a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'auth_logout' %}">
            <i class="mdi mdi-logout me-2 text-primary"></i> Signout
          </a>
        </div>

      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
