{% extends "base.html" %} {% load static extras %} {% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
        </span>
        Products
    </h3>
    <nav aria-label="breadcrumb">
        <a href="{% url 'main:product_new' %}" class="btn btn-sm btn-primary">Create New</a>
    </nav>
</div>

<div class="d-flex gap-2 flex-wrap">
    {% for product in products %}
    <div class="p-1">
        <a href="{{category.get_absolute_url}}" class="card d-inline-block">
            <div class="card-body">
                <img src="{{category.image.url}}" alt="" class="card-image" style="height: 80px;">
                <h5 class="mb-0 mt-3 fw-bold text-center text-black">{{category.name}}</h5>
            </div>
        </a>
    </div>
    {% empty %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">                
                <h5 class="m-0">No Products found.</h5>
            </div>
        </div>
    </div>
    {% endfor %}

    {% include "partials/pagination.html" %}
</div>

{% endblock %}
