{% extends "base.html" %} {% load static extras %} {% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
        </span>
        YOUR ACCOUNT IS TEMPORARILY BLOCKED
    </h3>
    
</div>

<div class="row">
    <div class="col-md-6 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>YOUR ACCOUNT IS TEMPORARILY BLOCKED</h5>
                <p>
                    We regret to inform you that your account has been temporarily suspended. Our priority is to
                    maintain a safe and secure online environment for all users, and we take any suspicious or
                    potentially harmful activities seriously. As a result, your account has been temporarily blocked
                    while we investigate the matter further.
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}