<div class="container position-relative">
    <div class="row">
        <div class="col-md-8 pt-3">
            <div class="shadow-sm rounded bg-white mb-3 overflow-hidden">
                <div class="d-flex item-aligns-center">
                    <p class="fw-bold h6 p-3 border-bottom mb-0 w-100">Menu</p>

                </div>
                <div class="row m-0">
                    <h6 class="p-3 m-0 bg-light w-100">Quick Bites <small class="text-black-50">3 ITEMS</small></h6>
                    <div class="col-md-12 px-0 border-top">
                        <div class>
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-danger non_veg">.</div>
                                <div>
                                    <h6 class="mb-1">Chicken Tikka Sub </h6>
                                    <p class="text-muted mb-0">&#8377;250</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-danger non_veg">.</div>
                                <div>
                                    <h6 class="mb-1">Cheese corn Roll <span class="badge text-bg-danger text-white">BEST
                                            SELLER</span></h6>
                                    <p class="text-muted mb-0">&#8377;600</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-danger non_veg">.</div>
                                <div>
                                    <h6 class="mb-1">Chicken Tikka Sub <span class="badge text-bg-danger text-white">Non
                                            veg</span></h6>
                                    <p class="text-muted mb-0">&#8377;250</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <h6 class="p-3 m-0 bg-light w-100">Starters <small class="text-black-50">3 ITEMS</small></h6>
                    <div class="col-md-12 px-0 border-top">
                        <div class>
                            <div class="d-flex align-items-center gap-2 p-3 border-bottom menu-list">
                                <img alt="#" src="/static/web/img/starter1.jpg" class="rounded-pill">
                                <div>
                                    <h6 class="mb-1">Chicken Tikka Sub </h6>
                                    <p class="text-muted mb-0">&#8377;250</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex align-items-center gap-2 p-3 border-bottom menu-list">
                                <img alt="#" src="/static/web/img/starter2.jpg" class="rounded-pill">
                                <div>
                                    <h6 class="mb-1">Cheese corn Roll <span class="badge text-bg-danger">BEST
                                            SELLER</span></h6>
                                    <p class="text-muted mb-0">&#8377;600</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex align-items-center gap-2 p-3 border-bottom menu-list">
                                <img alt="#" src="/static/web/img/starter3.jpg" class="rounded-pill">
                                <div>
                                    <h6 class="mb-1">Chicken Tikka Sub <span class="badge text-bg-success">Pure
                                            Veg</span></h6>
                                    <p class="text-muted mb-0">&#8377;250</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <h6 class="p-3 m-0 bg-light w-100">Soups <small class="text-black-50">8 ITEMS</small></h6>
                    <div class="col-md-12 px-0 border-top">
                        <div class="bg-white">
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-danger non_veg">.</div>
                                <div>
                                    <h6 class="mb-1">Chicken Tikka Sub </h6>
                                    <p class="text-muted mb-0">&#8377;250</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-danger non_veg">.</div>
                                <div>
                                    <h6 class="mb-1">Cheese corn Roll <span class="badge text-bg-danger">BEST
                                            SELLER</span></h6>
                                    <p class="text-muted mb-0">&#8377;600</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-success veg">.</div>
                                <div>
                                    <h6 class="mb-1">Chicken Tikka Sub <span class="badge text-bg-success">Pure
                                            Veg</span></h6>
                                    <p class="text-muted mb-0">&#8377;250</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-success veg">.</div>
                                <div>
                                    <h6 class="mb-1">Chicken Tikka Sub </h6>
                                    <p class="text-muted mb-0">&#8377;250</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-danger non_veg">.</div>
                                <div>
                                    <h6 class="mb-1">Cheese corn Roll <span class="badge text-bg-danger">BEST
                                            SELLER</span></h6>
                                    <p class="text-muted mb-0">&#8377;600</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                            <div class="d-flex gap-2 p-3 border-bottom gold-members">
                                <div class="fw-bold text-success veg">.</div>
                                <div>
                                    <h6 class="mb-1">Chicken Tikka Sub <span class="badge text-bg-success">Pure
                                            Veg</span></h6>
                                    <p class="text-muted mb-0">&#8377;250</p>
                                </div>
                                <span class="ms-auto"><a href="#" class="btn btn-outline-secondary btn-sm"
                                        data-bs-toggle="modal" data-bs-target="#extras">ADD</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
