<div class="osahan-menu-fotter fixed-bottom bg-white px-3 py-2 text-center d-none">
    <div class="row">
        <div class="col">
            <a href="{{restaurant.get_web_url}}" class="text-dark small fw-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-home text-dark"></i></p>
                Home
            </a>
        </div>
       
        <div class="col bg-white rounded-circle mt-n4 px-3 py-2">
            <div class="bg-danger rounded-circle mt-n0 shadow">
                <a href="{% url 'web:checkout' restaurant.pk %}" class="text-white small fw-bold text-decoration-none">
                    <i class="feather-shopping-cart"></i>
                </a>
            </div>
        </div>
       
        <div class="col">
            <a href="{% url 'main:howitworks' restaurant.pk %}" class="text-dark small fw-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-play"></i></p>
                How it works
            </a>
        </div>
    </div>
</div>