<div class=" osahan-menu-fotter fixed-bottom bg-primary px-3 py-2 text-center d-none">
    <div class="row">
        <div class="col">
            <a href="{{restaurant.get_web_url}}" class="text-white small fw-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-home text-white"></i></p>
                Home
            </a>
        </div>
        <div class="col">
            <a href="{{restaurant.get_web_url}}" class="text-white small fw-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-tag text-white"></i></p>
                category
            </a>
        </div>
        <div class="col">
            <a href="{% url 'web:checkout' restaurant.pk %}" class="text-white small fw-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-shopping-cart"></i></p>
                Cart
            </a>
        </div>

        <div class="col">
            <a href="{% url 'main:howitworks' restaurant.pk %}" class="text-white small fw-bold text-decoration-none">
                <p class="h4 m-0"><i class="feather-play"></i></p>
                How it works
            </a>
        </div>
    </div>
</div>