{% extends 'web/base.html' %}

{% block header %}
{% include 'web/includes/header.html' %}
{% endblock %}

{% block content %}

<div class="d-none">
    <div class="bg-primary p-3 d-flex align-items-center">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="fw-bold m-0 text-white">{{object.restaurant}}</h4>
    </div>
</div>

<div class="offer-section py-4">
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-2">
                <img alt="#" src="{{object.image.url}}" class="restaurant-pic">
            </div>
            <div class="col-md-6 text-white">
                <h2 class="fw-bold">{{object}}</h2>
                <p class="text-white">{{object.description}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="cat-slider">
        {% for category in object.restaurant.get_categories %}
        <div class="cat-item px-1 py-3">
            <a class="bg-white rounded d-block p-2 text-center shadow-sm" href="{{category.get_web_url}}">
                <img alt="" src="{{category.image.url}}" class="img-fluid mb-2">
                <p class="m-0 small">{{category.name}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    {% if object.get_subcategories %}
    <div class="row">
        <div class="col-12 portfolio-menu mb-0 mt-3">
            <ul class="p-0">
                <li class="btn btn-outline-dark mb-1 active" data-filter="*">All</li>
                {% for subcategory in object.get_subcategories %}
                <li class="btn btn-outline-dark mb-1" data-filter=".{{subcategory.pk}}">{{subcategory}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="row portfolio-item">
                {% for product in object.get_products %}
                {% include 'web/includes/product.html' %}
                {% empty %}
                <p>No Products available</p>
                {% endfor %}
            </div>
        </div>

        {% comment %} <div class="col-md-3 pt-3">
            <div id="cartMenu">
                {% include 'web/includes/cart.html' %}
            </div>
        </div> {% endcomment %}
    </div>

    <div class="offer-slider">
        {% for banner in catalogue_ads %}
        <div class="cat-item px-1 py-3">
            <a class="d-block text-center shadow-sm" href="javascript:void(0);">
                <img alt="#" src="{{banner.image.url}}" class="img-fluid rounded">
            </a>
        </div>
        {% endfor %}
    </div>


</div>


{% include 'web/includes/mobile.html' %}

{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function () {

        // on .btn_decrease click, decrease quantity by 1 of input sibling, then send ajax request to web:cart_item_plus
        $('.btn_decrease').click(function () {
            var option = $(this).data('option');
            var restaurant_pk = "{{object.restaurant.pk}}";
            var session_key = "{{request.session.session_key}}";
            var input = $(this).siblings('input');
            var qty = parseInt(input.val());
            input.val(qty - 1);
            $.ajax({
                url: "{% url 'web:cart_item_minus' %}",
                data: {
                    'option': option,
                    'restaurant_pk': restaurant_pk,
                    'session_key': session_key,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {                   
                    input.val(data.quantity);
                },
                error: function (xhr, status, error) {
                    console.log("AJAX request failed:", status, error);
                }
            }).then(function () {
                console.log("decrease");
            });
        });

        // on .btn_increase click, increase quantity by 1 of input sibling, then send ajax request to web:cart_item_plus    
        $('.btn_increase').click(function () {
            var option = $(this).data('option');
            var restaurant_pk = "{{object.restaurant.pk}}";
            var session_key = "{{request.session.session_key}}";
            var input = $(this).siblings('input');
            var qty = parseInt(input.val());
            input.val(qty + 1);
            $.ajax({
                url: "{% url 'web:cart_item_plus' %}",
                data: {
                    'option': option,
                    'restaurant_pk': restaurant_pk,
                    'session_key': session_key,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    input.val(data.quantity);
                },
                error: function (xhr, status, error) {
                    console.log("AJAX request failed:", status, error);
                }
            }).then(function () {
                console.log("increase");
            });
        });
    });
</script>

{% comment %}
<script>
    // Function to encode a string for URL
    function encodeURIString(str) {
        return encodeURIComponent(str);
    }

    // Function to create the WhatsApp message link with item info and total
    function createWhatsAppLink() {
        var phoneNumber = '{{object.restaurant.phone}}';
        var message = 'Hello, I would like to order from ' + encodeURIString('{{ restaurant.name }}') + ' at ' + encodeURIString('{{ restaurant.address }}') + '%0A%0A';
        
        // Initialize the total price
        var totalPrice = 0;
        
        // Loop through cart items and add item details to the message
        {% for cart_item in cart_items %}
            var itemName = encodeURIString('{{ cart_item.product.product.name }}');
            var itemVariant = encodeURIString('{{ cart_item.product.name }}');
            var itemPrice = parseFloat('{{ cart_item.total_price }}');
            
            // Add item price to the total
            totalPrice += itemPrice;
            
            // Append item information to the message
            message += 'Item: ' + itemName + '%0A';
            message += 'Variant: ' + itemVariant + '%0A';
            message += 'Price: ₹' + itemPrice.toFixed(2) + '%0A%0A';
        {% endfor %}
        
        // Add the total price to the message
        message += 'Total Price: ₹' + totalPrice.toFixed(2) + '%0A%0A';
        
        // Construct the WhatsApp message link
        var whatsappLink = 'https://wa.me/' + phoneNumber + '?text=' + message;
        
        return whatsappLink;
    }

    // Get the button element
    var whatsappButton = document.querySelector('.btn-lg');

    // Add a click event listener to the button
    whatsappButton.addEventListener('click', function() {
        // Create the WhatsApp link
        var link = createWhatsAppLink();

        // Open the WhatsApp link in a new tab
        window.open(link);
    });
</script>
{% endcomment %}

{% endblock javascript %}