{% extends 'web/base.html' %}
{% load static %}
{% block header %}
<header class="section-header d-block">
    <section class="header-main shadow-sm bg-white">
        <div class="container">
            <div class="row align-items-center py-2 justify-content-between">
                <div class="col-4">
                    <a href="/" class="brand-wrap mb-0">
                        <img class="img-fluid" src="{% static 'main/images/logo.svg' %}" style="object-fit: contain;">
                    </a>
                </div>
                <div class="col-4">
                    {% if request.user.is_authenticated %}
                    <div class="d-flex align-items-center justify-content-end">
                        <a href="{% url 'main:index' %}" class="widget-header me-2 text-white btn bg-info">
                            <div class="icon d-flex align-items-center">
                                Dashboard</span>
                            </div>
                        </a>
                        <a href="{% url 'auth_logout' %}" class="widget-header me-4 text-white btn bg-primary">
                            <div class="icon d-flex align-items-center">
                                <span>Logout</span>
                            </div>
                        </a>

                    </div>
                    {% else %}
                    <div class="d-flex align-items-center justify-content-end">
                        <a href="{% url 'auth_login' %}" class="widget-header me-2 text-white btn bg-info">
                            <div class="icon d-flex align-items-center">
                                Login</span>
                            </div>
                        </a>
                        <a href="{% url 'main:registration_register' %}"
                            class="widget-header me-4 text-white btn bg-primary">
                            <div class="icon d-flex align-items-center">
                                <span>Register</span>
                            </div>
                        </a>

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</header>
{% endblock %}

{% block content %}
<div class="osahan-home-page">

    <div class="bg-primary p-3 d-none">
        <div class="text-white">
            <div class="title d-flex align-items-center">
                <div class="box">
                    <img class="img-fluid" src="{% static 'main/images/logo_mini.svg' %}" style="height: 20px;">
                </div>
                <h4 class="fw-bold m-0">aahaaglobal</h4>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="offer-slider">
            <div class="cat-item px-1 py-3">
                <a class="d-block text-center shadow-sm" href="javascript:void(0);">
                    <img alt="#" src="/static/web/img/slider.jpg" class="img-fluid rounded">
                </a>
            </div>
        </div>

        {% if restaurants %}
        <div class="py-3 title d-flex align-items-center">
            <h5 class="m-0">Most popular Textiles</h5>
        </div>

        <div class="most_popular mb-5">

            <div class="row">
                {% for restaurant in restaurants %}
                <div class="col-md-3 pb-3">
                    <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">

                        <div class="p-3 position-relative">
                            <div class="list-card-body">
                                <h6 class="mb-1"><a href="{{restaurant.get_web_url}}"
                                        class="text-black">{{restaurant.name}}
                                    </a>
                                </h6>
                                <p class="text-gray mb-1 small">{{restaurant.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

</div>
{% endblock %}